.services{
    margin: 20px 0px;
}

.services .container{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}
.services-card{
    width: 300px;
    height: 419px;
     overflow: hidden;
     border-radius: 5px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.services-image{
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.services-image:hover{
    transform: scale(1.05);
}
.services-title{
    text-align: center;
    color: #00374c;
    font-size: 20px;
    font-family: "Inter" , sans-serif;
    padding: 20px 0px;
}
.services-paragraph{
    font-size: 16px;
    font-family: "Inter" , sans-serif;
    padding: 0px 10px;
}
.service-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px 0px ; 
}
.services-button {
    width: 120px;
    height: 30px;
    color: #fff;
    border-radius: 10px;
    font-weight: 500;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    transition: all .3s ease;
    position: relative;
    outline: none;
    background: #B32128;
    border: 1px solid  #B32128  ;
    transition: all 0.5s ease-in-out;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #ffffff;
}
.services-button:hover{
    background-color: #fff;
}
.services-button:hover{
    color: #B32128;
}
.service-icons {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.services-icon {
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition: transform 0.5s ease; /* Smooth transition */
}

.service-icons:hover .services-icon {
    transform: rotateY(180deg); /* Teskari aylantirish */
}

